*{
  margin: 0;
  padding: 0;

}
 
h1 {
    color: rgb(13, 6, 20);
    font-family: Young serif;
    font-size: larger;
    }
h2 {
    color: #070303;
    font-size: bold;}
p {
    color: rgb(33, 17, 51) ;}
body{
     background-color: rgb(241, 238, 245);
     padding-left: 200px; 

    }